body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}
header{
    background: #ff8c94;
    padding:0;
    text-align: center;
}
header h1{
    color: white;
    margin: 0;
}
nav{
    background: #ff6c1;
    padding:10px;
    text-aling:center;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #4a4aa;
    font-weight:bold;
}
.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
.cake-item img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;

}
footer{
    background: #ff8c92;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}